body{
	width: 500px;
	height: 350px;
	background-color: #ccc;
	margin: -5 auto;
}
article{
	padding: 10px;
	text-align: justify;
	background-color: #fff;
	border: 1px solid;
	border-radius: 5px;
	box-shadow: 1px 1px 1px black;
}
h1 {
	font-family: sans-serif;
	font-size: 32px;
	color: blue;
}

p{
	font-family: sans-serif;
	font-size: 16px;
}