@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway');

		form {
			width: 480px;
			margin: auto;
		}
		
		input, textarea {
			font-family: Raleway;
			background-color: rgba(255,255,255,.5);
		}
		
		input:hover, textarea:hover {
			background-color: #D3D3D3;
		}
		
		input#idEnviar {
			left: 240px;	
		}
		
		legend {
			font-family: Raleway;
			font-size: 14pt;
			font-weight: bold;
			color: #696969;
			text-shadow: 1px 1px 1px rgba(150,150,150,.6);
		}
		
		fieldset {
			border-color: #CECECE;
			margin: 20px;
		}
		
		fieldset#sexo {
			width: 150px;
			margin-left: 30px;		
		}
		
		fieldset#usuario {
			background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
		}
		
		fieldset#endereco {
			background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
		}
		
		fieldset#mensagem {
			background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
		}
		
		fieldset#pedido {
			background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
		}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		