@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway');

.min{
 width: 200px;
 padding: 10px; 
 border: 5px solid white;
 box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4)
}
.min:hover{
transform: scale(1.1);
transition: all .5s ease-in; 
}
.lbox{
 display: none;
}

.lbox:target{
 display: block;
 width: 100%;
 height: 100%;
 top:0;
 left:0;
 background: rgba(0,0,0,0.5);
 position:fixed;
}
.lbox p{
	color: white;
	font-family: Raleway;
	font-weight: bold;
	text-indent: 170px;
	
}

.box_img {
 width: 100%;
 margin-left: 400px;
 margin-top: 70px;
 padding: 10px;
}

.btn{
 color: #fff;
 font-family: 'Arial';
 text-decoration: none;
 position: absolute;
 width: 50px;
 height: 50px;
 font-size: 40px;
 text-align: center;
}

#prev {
 left: 5%;
 top: 45%;
}

#next {
 right: 5%;
 top: 45%;
}

#close {
 right: 2%;
 top: 0;
}