@charset "UTF-8";

		section#conteudo{
			width: 1100px;
			margin-left: auto;
		}
		iframe#frame-specs{
			width: 540px;
			height: 370px;
			float: right;
			border: none;
			margin-right: 50px;
			overflow: hidden;
		}
		article{
			top: 50px;
		}
		iframe#frame-specs::-webkit-scrollbar{
			display: none;
		}